<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-UIButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>985D406C1C7D4E4E00DAACAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985D40801C7D4E4E00DAACAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985D408B1C7D4E4E00DAACAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
